.hero {
    background-color: #000;
    background-image: url('../images/hero_bg_1x.jpg');
    background-image: -webkit-image-set(
        url('../images/hero_bg_1x.avif') 1x,
        url('../images/hero_bg_2x.avif') 2x,
        url('../images/hero_bg_1x.webp') 1x,
        url('../images/hero_bg_2x.webp') 2x,
        url('../images/hero_bg_1x.jpg') 1x,
        url('../images/hero_bg_2x.jpg') 2x);
    background-image: image-set(
        url('../images/hero_bg_1x.avif') 1x,
        url('../images/hero_bg_2x.avif') 2x,
        url('../images/hero_bg_1x.webp') 1x,
        url('../images/hero_bg_2x.webp') 2x,
        url('../images/hero_bg_1x.jpg') 1x,
        url('../images/hero_bg_2x.jpg') 2x);
    background-size: cover;
    background-position: center;
}
.hero__container {
    padding-top: 127px;
    padding-bottom: 127px;
}
.hero__title {
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    color: #55C2FF;
    margin-bottom: 18px;
}
.hero__subtitle {
    max-width: 480px;
    margin-bottom: 50px;
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: #FFF;
}
.hero__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFF;
    background-color: #55C2FF;
    border-radius: 8px;
    border: none;
    padding: 11px;
    max-width: 232px;
    width: 100%;
    border: 2px solid transparent;
    transition-property: background-color, border-color;
    transition-duration: 0.36s;
    transition-timing-function: ease-in-out;
}
.hero__btn:hover, .hero__btn:focus {
    background-color: #1C88EB;
}
.hero__btn:active {
    border-color: #E4F2FF;
    background-color: #55C2FF;
}
@media (max-width: 1024px) {
    .hero {
        background-image: -webkit-image-set(
            url('../images/hero_bg_m_1x.avif') 1x,
            url('../images/hero_bg_m_2x.avif') 2x,
            url('../images/hero_bg_m_1x.webp') 1x,
            url('../images/hero_bg_m_2x.webp') 2x,
            url('../images/hero_bg_m_1x.jpg') 1x,
            url('../images/hero_bg_m_2x.jpg') 2x);
        background-image: image-set(
            url('../images/hero_bg_m_1x.avif') 1x,
            url('../images/hero_bg_m_2x.avif') 2x,
            url('../images/hero_bg_m_1x.webp') 1x,
            url('../images/hero_bg_m_2x.webp') 2x,
            url('../images/hero_bg_m_1x.jpg') 1x,
            url('../images/hero_bg_m_2x.jpg') 2x);
    }
    .hero__container {
        padding-top: 92px;
        padding-bottom: 92px;
    }
    .hero__subtitle {
        margin-bottom: 30px;
    }
}
@media (max-width: 768px) {
    .hero {
        background-image: -webkit-image-set(
            url('../images/hero_bg_s_1x.avif') 1x,
            url('../images/hero_bg_s_2x.avif') 2x,
            url('../images/hero_bg_s_1x.webp') 1x,
            url('../images/hero_bg_s_2x.webp') 2x,
            url('../images/hero_bg_s_1x.jpg') 1x,
            url('../images/hero_bg_s_2x.jpg') 2x);
        background-image: image-set(
            url('../images/hero_bg_s_1x.avif') 1x,
            url('../images/hero_bg_s_2x.avif') 2x,
            url('../images/hero_bg_s_1x.webp') 1x,
            url('../images/hero_bg_s_2x.webp') 2x,
            url('../images/hero_bg_s_1x.jpg') 1x,
            url('../images/hero_bg_s_2x.jpg') 2x);
    }
    .hero__container {
        padding-top: 81px;
        padding-bottom: 81px;
    }
    .hero__title {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 10px;
    }
    .hero__subtitle {
        max-width: 354px;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 25px;
    }
}
@media (max-width: 576px) {
    .hero {
        background-image: -webkit-image-set(
            url('../images/hero_bg_xs_1x.avif') 1x,
            url('../images/hero_bg_xs_2x.avif') 2x,
            url('../images/hero_bg_xs_1x.webp') 1x,
            url('../images/hero_bg_xs_2x.webp') 2x,
            url('../images/hero_bg_xs_1x.jpg') 1x,
            url('../images/hero_bg_xs_2x.jpg') 2x);
        background-image: image-set(
            url('../images/hero_bg_xs_1x.avif') 1x,
            url('../images/hero_bg_xs_2x.avif') 2x,
            url('../images/hero_bg_xs_1x.webp') 1x,
            url('../images/hero_bg_xs_2x.webp') 2x,
            url('../images/hero_bg_xs_1x.jpg') 1x,
            url('../images/hero_bg_xs_2x.jpg') 2x);
    }
    .hero__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .hero__title {
        font-size: 40px;
        line-height: 48px;
    }
    .hero__subtitle {
        max-width: 230px;
        font-size: 16px;
        line-height: 21px;
    }
    .hero__btn {
        max-width: 188px;
        font-size: 12px;
        line-height: 15px;
    }
}
